<div class="lightbg">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
    {{#each clientInfo}}
    <div class="text-justify">
        <div class="text-center adminbg">
            <br>
            <br>
    <p>Company name:
        <a href="/admin/client/{{this._id}}">{{this.companyName}}</a>
    </p>
    <p>Address: {{ this.address }}</p>
    <p>Elevators: {{ this.elevators }}</p>
    <p>Floors: {{ this.floors }}</p>
    <p>Services: {{ this.service }} </p>
    <p>Paid: {{ this.paid }}</p>
    {{#if this.myComment}}
    <p> My comment: {{ this.myComment }} </p>
    {{/if}}
    <form action="/client/{{this._id}}/delete" method="post">
    <button class="btn-primary btn " type="submit">Delete</button>
    </form>
    <br>
    <br>
    <hr> {{/each}}

    </div>
    </div>
    </div>
    <div class="col-lg-2"></div>
</div>